body {
    margin:auto;
    background-image:url("12.jpg");
    font-family:  "Times New Roman", Times, serif;
}
.container {
    width:90%;
    margin:auto;
    height:100%;
}  
.box{
    width:200px;
    margin:auto;
} 
.row{
    margin-top:40px;
}
#result{
    font-size:19px;
    margin-top: 40px;
    width: 600px;
    background-color: #000000;
    color: #ffffff;
}
#btn{
    margin-top: 40px;
}
.bmi-table{
    margin: 50px;
    border: 1px solid #000000;
    background-color: #ffffff;
}
th,td{
    width:200px;
    padding: 10px;
    border: 1px solid #000000;
}
