body {
    margin:auto;
    /*background-color:rgb(136, 228, 240);*/
    background-image:url("12.jpg");
    font-family: Verdana, sans-serif;
}
.container {
    width:70%;
    margin:auto;
    height:100%;
}   
.row{
    margin-top:50px;
}
.box{
    width:200px;
    margin:auto;
}
#result{
    margin-top: 20px;
    width:500px;
    background-color: #000000;
    color: #ffffff;
}
#btn{
    margin-top: 20px;
}
th,td{
    width:200px;
    padding: 10px;
    border: 1px solid #000000;
}
.bmi-table{
    margin: 50px;
    border: 1px solid #000000;
    background-color: #ffffff;
}